@model  List<RTech.Demo.Areas.Student.ViewModels.BlogViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}


<!--  -->
<section class="uk-section-small uk-bg-dark-blue uk-light  uk-text-center uk-arrow-down uk-relative  ">

    <div class="uk-container" >
        <h2 class="uk-margin-remove uk-text-bold">Blog</h2>
        <ul class="uk-breadcrumb uk-flex uk-flex-center">
            <li><a href="@Url.Action("","", new { @Area= ""})">Home</a></li>
            <li><span>Blog</span></li>
        </ul>
    </div>

</section>



<!--  -->
<!--  -->
<!-- blog end-->


<!--  -->
