
<!DOCTYPE html>
<html>
<head>
    <title>PTE</title>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: #ffffff;
            font-size: 17px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 10px;
            font-weight: 600;
            color: #444;
        }

        b {
            font-weight: bold;
        }

        .wrapper {
            max-width: 650px;
            width: 100%;
            margin: 0 auto;
            background: #ffffff;
            border: solid 1px #eee;
            padding: 30px;
        }

        table {
            width: 100%;
        }

            table tr, td, th {
                padding: 4px 0;
            }

        p {
            line-height: 25px;
        }
    </style>
</head>

<body>
    <div class="wrapper">

        <div>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <p style="margin-bottom: 20px;"><b>Dear Ritu,</b></p>
                            <p>Thank you for sitting a Credentialed Community Language Test in Nepali on 25 March 2019. The results for the test are as follows:</p>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Task A: </b></td>
                        <td> Dialogue 1: 31.5 / 45 (minimum 29) </td>
                    </tr>
                    <tr>
                        <td><b>Task A:</b></td>
                        <td>Dialogue 2:33 / 45 (minimum 29) </td>
                    </tr>
                    <tr>
                        <td><b>Overall (minimum 63)</b></td>
                        <td>Mark 64.5/90</td>
                    </tr>

                </tbody>
            </table>

            <p>Congratulations on passing the test. A separate email will be sent shortly with your Credentialed Community Language letter attached.</p>

            <p>If you have any further questions, please email <a href="">info@naati.com.au</a>.</p>
            <p><b>For future correspondence, your NAATI Customer Number is 228919.</b></p>
            <br>
            <p>Sincerely,</p>
            <p>NAATI Operations Team National Office</p>


            <div style="float: left; width: 20%; text-align: center;">
                <img src="logo.png" alt="">
            </div>

            <div style="float: left; width: 80%;">
                <p style="margin: 0;">
                    <b>National Accreditation Authority for</b><br>
                    Translators and Interpreters Ltd WARD)<br>
                    T: +61 02 6260 3035 P.O Box 223 Deakin West ACT 2600 AUSTRALIA<br>
                    </b>
                </p>

            </div>

            <div style="clear: both;">
            </div>
        </div>




    </div>

</body>
</html>

