
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Riddha.UI.Toast("@ViewBag.Message", 0);
        };
    </script>
}
<div class="col-lg-12 ">
    @if (ViewBag.Message != null)
    {
        <h1 style="text-align:center; line-height:100px;" class="text-danger">@ViewBag.Message</h1>
    }
    <h1 style="text-align:center; line-height:400px;">Page Not Found</h1>
</div>



