
@{
    ViewBag.Title = "PDFTutorial";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}

<!--  Start -->
<div class="packages_details">

    <div class="container   ">
        <div class="row">




            <div class="col-lg-12">
                <div class="detailstraining">


                    <h3>PDF Tutorial</h3>
                    <h5 style="color:#7a7e85;">Java Programming Masterclass for Software Developers</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                    <br><br><br>
                    <!--  -->
                    <div class="boxshadow  ">
                        <h3>Free PDF</h3>
                        <div class="row">



                            <div class="col-lg-3">
                                <a class="pdf" href="">
                                    <img src="images/pdf.png">
                                    <h3>Lorem ipsum dolor sit</h3>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a class="pdf" href="">
                                    <img src="images/pdf.png">
                                    <h3>Lorem ipsum dolor sit</h3>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a class="pdf" href="">
                                    <img src="images/pdf.png">
                                    <h3>Lorem ipsum dolor sit</h3>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a class="pdf" href="">
                                    <img src="images/pdf.png">
                                    <h3>Lorem ipsum dolor sit</h3>
                                </a>
                            </div>


                        </div>
                        <div class="clearfix">

                        </div>
                    </div>
                    <!--  -->
                    <br><br><br>
                    <!--  -->
                    <div class="boxshadow  paid ">
                        <h3>Paid</h3>
                        <div class="row">



                            <div class="col-lg-3">
                                <div class="box-wraper">
                                    <a class=" " href="">
                                        <img src="images/pdf.png">
                                        <h3>Lorem ipsum dolor sit</h3>
                                    </a>

                                    <div class="lock-unlock lock">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                            </div>





                            <div class="col-lg-3">
                                <div class="box-wraper">
                                    <a class=" " href="">
                                        <img src="images/pdf.png">
                                        <h3>Lorem ipsum dolor sit</h3>
                                    </a>


                                    <div class="lock-unlock unlock">
                                        <i class="fa fa-unlock"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="box-wraper">
                                    <a class=" " href="">
                                        <img src="images/pdf.png">
                                        <h3>Lorem ipsum dolor sit</h3>
                                    </a>


                                    <div class="lock-unlock lock">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                            </div>





                            <div class="col-lg-3">
                                <div class="box-wraper">
                                    <a class=" " href="">
                                        <img src="images/pdf.png">
                                        <h3>Lorem ipsum dolor sit</h3>
                                    </a>


                                    <div class="lock-unlock unlock">
                                        <i class="fa fa-unlock"></i>
                                    </div>
                                </div>
                            </div>






                            <div class="clearfix hrbtm"> <hr></div>
                            <div class="col-lg-12">
                                <a href="payment.php" class="btn btn-primary pull-right ">Buy Now</a>
                            </div>

                        </div>
                        <div class="clearfix">

                        </div>
                    </div>
                    <!--  -->

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--  End -->

