
@{
    ViewBag.Title = "NaatiLanguages";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}

<!--  -->
<section class="uk-section-small uk-bg-dark-blue uk-light  uk-text-center uk-arrow-down uk-relative  ">

    <div class="uk-container  ">
        <h2 class="uk-margin-remove uk-text-bold">Naati Languages </h2>
        <ul class="uk-breadcrumb uk-flex uk-flex-center">
            <li><a href="@Url.Action("Home","TopBar", new { @Area = "Student"})">Home</a></li>
            <li><span>Naati Languages </span></li>
        </ul>
    </div>

</section>
<!--  -->
<!--  -->
<section class="uk-section uk-bg-mudred">
    <div class="uk-container  ">

        <div class=" uk-list-page  uk-child-width-1-2@s uk-child-width-1-4@m   " uk-grid>
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/english.svg">
                    </div>

                    <h4 class="uk-margin-remove"> English</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/spanish.svg">
                    </div>

                    <h4 class="uk-margin-remove"> Spanish</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/hindi.svg">
                    </div>

                    <h4 class="uk-margin-remove"> Hindi</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/arabic.svg">
                    </div>

                    <h4 class="uk-margin-remove"> Arabic</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/franch.png">
                    </div>

                    <h4 class="uk-margin-remove"> Franch</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/portuguese.svg">
                    </div>

                    <h4 class="uk-margin-remove"> Portuguese</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/bengali.png">
                    </div>

                    <h4 class="uk-margin-remove"> Bengali</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/russian.svg">
                    </div>

                    <h4 class="uk-margin-remove"> russian</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/german.png">
                    </div>

                    <h4 class="uk-margin-remove"> German</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/japanese.png">
                    </div>

                    <h4 class="uk-margin-remove"> Japanese</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/korean.svg">
                    </div>

                    <h4 class="uk-margin-remove"> Korean</h4>

                </a>
            </div>
            <!--  -->
            <!--  -->
            <div>
                <a href="" class="uk-flex uk-flex-middle" uk-toggle="target: #uk-select-packages">
                    <div>
                        <img src="/images/icon/flag/danish.png">
                    </div>

                    <h4 class="uk-margin-remove"> Danish</h4>

                </a>
            </div>
            <!--  -->




        </div>
    </div>
</section>
<!--  -->
