@model RTech.Demo.Areas.Student.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}
@using (Html.BeginForm())
{

    <!--  Start -->
    <section class="uk-section-large  uk-section-muted uk-flex uk-flex-middle uk-animation-fade">
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-radius-small">

                            <h3 class="uk-card-title uk-text-center">Forgot your password?</h3>
                            <p class="uk-text-center uk-width-medium@s uk-margin-auto">Enter your email address and we will send you a link to reset your password.</p>

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "uk-input uk-form-large", @Placeholder = "Email address" })

                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="uk-margin">
                                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Send Email</button>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                <a href="@Url.Action("Index","LogIn", new { @Area = "Student"})">Back to login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--  End -->
}







