@model RTech.Demo.Areas.Student.ViewModels.PasswordResetViewModel
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}



@using (Html.BeginForm())
{


    <!--  Start -->
    <div class="login-registration">
        <div class="pv20">


            <div class="container  ">


                <div class="col-lg-6 col-lg-offset-3">
                    <div class="inner-log-reg">


                        <h3>Passowrd Reset</h3>

                        <div class="form-group">
                            <label>New Password :</label>
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control bg-white", @Placeholder = "New Password"  , @type="password"})
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password :</label>
                            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control bg-white", @Placeholder = "Confirm Password", @type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                        </div>



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>
}
<!--  End -->
