
@{
    ViewBag.Title = "PasswordResetSuccess";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}


<section class="uk-section-large uk-section-muted uk-flex uk-flex-middle uk-animation-fade">
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-text-center uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-radius-small">

                        <h3 class="uk-text-success uk-margin-remove-top"><b>Hurrey !</b> <br></h3>
                        <p><b>  You've successfully reset your password please login with new password </b></p>

                        <a href="@Url.Action("Index","LogIn", new { @Area = "Student"})" class="uk-button  uk-button-primary uk-border-pill"><b>Login <span uk-icon="chevron-right"></span></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

