@model RTech.Demo.Areas.Student.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}



<!--  Start -->
@using (Html.BeginForm())
{

    <section class="uk-section-large uk-section-muted uk-flex uk-flex-middle uk-animation-fade">
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-radius-small">

                            <h3 class="uk-card-title uk-text-center">Change Password</h3>

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "uk-input uk-form-large", @placeholder = "New Password", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "uk-input uk-form-large   ", @placeholder = "Confirm New Password", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="uk-margin">
                                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
<!--  End -->

